.title {
    text-align: center;
    color: white;
}

.faq-container {
    padding: 16px;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: dodgerblue;
}

.intro-text {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.panel-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}

.faq-button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(112, 183, 226);
    border-radius: 8px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.faq-button:hover {
    background-color: red;
    transition: 0.3s ease;
}

#backButton {
    margin: 1em;
    border-radius: 20px;
    background-color: #ef252c;
    color: white;
  }

/* Media Query for phone screens */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    .intro-text {
        font-size: 14px;
    }

    .panel {
        padding: 12px;
        margin: 12px;
    }

    .faq-button {
        width: 100%;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .intro-text {
        font-size: 12px;
    }

    .panel {
        padding: 8px;
        margin: 8px;
    }

    .faq-button {
        width: 100%;
        padding: 6px;
    }
}
