/* Base styles */
.back-button {
    margin: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.fgot-heading {
    text-align: center;
    font-size: 24px;
    margin: 0;
    color: white;
}

.centered-content {
    text-align: center;
    margin-bottom: 20px;
}

.centered-content h2 {
    margin: 0;
    font-size: 24px;
    color: #ff5a5f; /* Primary color similar to Mr D */
}

.centered-content p {
    margin: 5px 0 20px;
    font-size: 16px;
    color: #666;
}

ion-item {
    --border-radius: 15px;
    margin-top: 20px;
    //--width: 100%;
    //--max-width: 400px;
    //margin-bottom: 1.5em;
}

ion-label {
    font-weight: bold;
    color: #333;
}

ion-input {
    --padding-start: 10px;
    --color: #333;
}

ion-button {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ff5a5f;
    color: white;
}

ion-button:disabled {
    background-color: #ccc;
}

.new-user {
    margin-top: 20px;
    text-align: center;
}

.new-user label {
    margin-right: 5px;
    font-size: 14px;
    color: #666;
}

.new-user a {
    color: lightskyblue;
    text-decoration: none;
    font-weight: bold;
}

.new-user a:hover {
    text-decoration: underline;
}

/* Media Queries for different screen sizes */
@media only screen and (max-width: 600px) {
    .fgot-heading {
        font-size: 20px;
    }

    .centered-content h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .fgot-heading {
        font-size: 22px;
    }

    .centered-content h2 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 801px) {
    .fgot-heading {
        font-size: 24px;
    }

    .centered-content h2 {
        font-size: 24px;
    }
}
