/* Base styles */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: darkblue;
  }
  
  .slogan {
    font-size: 1em;
    color: #ff5a5f;
    margin-bottom: 1.5em;
  }
  
  ion-list {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.5em;
  }
  
  .create-profile-button {
    margin-top: 1em;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    background: lightskyblue;
    color: white;
  }
  
  .terms {
    font-size: 0.9em;
    color: #666;
    margin-top: 1em;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .terms b {
    font-weight: bold;
    color:darkblue;
  }
  
  .back-button {
    margin: 1em;
    border-radius: 20px;
    background-color: #ff5a5f;
    color: white;
  }
  
  .head {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  
  /* Media Queries for different screen sizes */
  @media only screen and (max-width: 600px) {
    .heading {
      font-size: 1.5em;
    }
  
    .slogan {
      font-size: 0.9em;
    }
  
    .create-profile-button {
      width: 80%;
    }
  
    .terms {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 800px) {
    .heading {
      font-size: 1.75em;
    }
  
    .slogan {
      font-size: 1em;
    }
  
    .create-profile-button {
      width: 90%;
    }
  
    .terms {
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 801px) {
    .heading {
      font-size: 2em;
    }
  
    .slogan {
      font-size: 1em;
    }
  
    .create-profile-button {
      width: 100%;
    }
  
    .terms {
      width: 75%;
    }
  }
  